<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>Video</title>
</head>

<body style="background: teal;">
	<div style="width: 100vw; height: 100vh; display: flex; flex-direction: column">

		<h2 style="margin-top: 20px; color: whitesmoke; text-align: center;">
			<%= data.currentVideo.dataValues.name %>
		</h2>

		<div style="display: flex; justify-content: space-around; height: 100vh;">
		
			<div style="
				width: 30%; 
				height: 80vh; 
				overflow: scroll; 
				margin-right: 20px;
				background: #779b6f;
				border-radius: 2px;
				padding: 5px;
				color: #083124;">

				<h4>Video Links</h4>
				<ul style="list-style-type: disc; line-height: 25px;">
					<% data.videos.forEach(function (video) { %>
						<li>
							<a href="<%= video.dataValues.name %>">
								<%= video.dataValues.name %>
							</a>
							
						</li>
					<%}) %>
				</ul>
			</div>
			<div style="width: 65%; height: 250px; margin-right: 10%;">
				<video autoplay controls style="width: 100%;">
					<source src="<%= data.videoUrl %>" />
				</video>
			</div>
		</div>
	</div>
</body>


</html>
